<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="obj1" class="pack.Emp">
	<property name="msg" value="This is Setter DI Example"></property>
	<property name="id" value="100"></property>
	<property name="name" value="Ravi"></property>
</bean>

<bean id="obj2" class="pack.Emp" scope="singleton">

</bean>

<bean id="obj3" class="pack.Emp" scope="singleton">
	<constructor-arg value="hello from xml file"></constructor-arg>
	<constructor-arg value="123"></constructor-arg>
	<constructor-arg value="Ramesh"></constructor-arg>
</bean>
</beans>
